@use "vendors" as *;
@use "base" as *;
@use "pages" as *;

//header部分
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;

  .nav-menu {
    list-style: none;
    display: flex;
  }
  .nav-menu li {
    width: 140px;
    text-align: center;
    background-color: rgb(237, 232, 232);
    height: 50px;
    line-height: 50px;
    margin-right: 2px;
  }
  .btn-download {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: aqua;
  }
  .btn-contact {
    background-color: aqua;
  }
}

.img {
  text-align: center;
}

.section {
  display: block;
  margin: auto;
  text-align: center;
  padding: 25px 25px;
  border: 1px solid;
  .container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 25px;
  }
  .pain-solution {
    color: red;
  }
}

//当社の強み
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 25px;
  border: 1px solid;
  margin: 25px;
  img {
    border-radius: 25px;
  }
  .title {
    font-size: 26px;
  }
}

//お客さまの声ゾーン
.assessment {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  h3 {
    padding: 25px;
  }
  img {
    padding: 25px;
  }
  .text {
    padding: 25px;
    color: red;
  }
}

//Buzzlyが選ばれる理由

.reason {
  text-align: center;
  border: 1px solid;
  h2 {
    text-align: center;
  }
}
//Buzzly月額定額サービス

.service {
  border: 1px solid;
  p {
    text-align: center;
  }

  .img-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    text-align: center;
  }
}

//運用流れ
.contents {
  display: flex;
  text-align: center;
  border: 1px solid;
  img {
    border-radius: 100%;
  }
  h2 {
    position: relative;
    top: 0;
    left: 50%;
  }
}

//必要性

h3 {
  text-align: center;
  padding: 25px;
}
.need01 {
  display: flex;
  text-align: justify;
}
.need02 {
  display: flex;
  text-align: justify;
  h3 {
    text-align: center;
  }
}
.need03 {
  display: flex;
  text-align: justify;
  border: 1px solid;
  h3 {
    text-align: center;
  }
}

//料金
th,
td {
  border: 1px solid #000;
  padding: 5px 10px;
}
#table02 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

#table02 th,
#table02 td {
  align-items: center;
  width: 20%;
  min-width: 130px;
  padding: 10px;
  height: 60px;
  margin: auto;
}
